__17_2_ProjectAlpha(NotCompleted)/cocos2d/
__17_2_ProjectAlpha(NotCompleted)/proj.android/
__17_2_ProjectAlpha(NotCompleted)/proj.android-studio/
__17_2_ProjectAlpha(NotCompleted)/proj.ios_mac/
__17_2_ProjectAlpha(NotCompleted)/proj.linux/
__17_2_ProjectAlpha(NotCompleted)/proj.tizen/
__17_2_ProjectAlpha(NotCompleted)/proj.win10/
__17_2_ProjectAlpha(NotCompleted)/proj.win32/
__17_2_ProjectAlpha(NotCompleted)/Resources/test_resources/

__17_2_KotlinProject/*.iml
__17_2_KotlinProject/.gradle
__17_2_KotlinProject/local.properties
__17_2_KotlinProject/.idea/workspace.xml
__17_2_KotlinProject/.idea/libraries
__17_2_KotlinProject/.DS_Store
__17_2_KotlinProject/build
__17_2_KotlinProject/captures
__17_2_KotlinProject/.externalNativeBuild

__16_1_BISTkickoff/*.iml
__16_1_BISTkickoff/.gradle
__16_1_BISTkickoff/local.properties
__16_1_BISTkickoff/.idea/workspace.xml
__16_1_BISTkickoff/.idea/libraries
__16_1_BISTkickoff/.DS_Store
__16_1_BISTkickoff/build
__16_1_BISTkickoff/captures

__16_2_KNU_econtrade/*.iml
__16_2_KNU_econtrade/.gradle
__16_2_KNU_econtrade/local.properties
__16_2_KNU_econtrade/.idea/workspace.xml
__16_2_KNU_econtrade/.idea/libraries
__16_2_KNU_econtrade/.DS_Store
__16_2_KNU_econtrade/build
__16_2_KNU_econtrade/captures

*.exe